body {
    margin: 0;
    font-family: Garamond, serif;
}

body.resume {
    background-color: #1e2b29;
}

.resume_main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ECE0DA;
}

.uwm_header {
    max-width: none;
    width: 100%;
    margin: 0 auto;
    background-color: #ee9ba7;
    padding: 20px;
}

.uwm_main {
    max-width: none;
    width: 100%;
    margin: 0 auto;
    background-color: #d4acb2;
    padding: 20px;
}

.uwm_footer {
    max-width: none;
    width: 100%;
    margin: 0 auto;
    background-color: #e4c9cd;
    padding: 20px;
}

.uwm_text {
    max-width: 1000px;
    margin: 0 auto;  /* centers the content horizontally */
    text-align: left; /* left-align text */
}