body {
    margin: 0;
    font-family: Garamond, serif;
}

body.resume {
    background-color: #ECE0DA;
}

.resume_header, .resume_main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
}

.resume_section {
    background-color: #F1C8CB;
    margin-bottom: 20px;
    padding: 10px;
}

body.uwm {
    background-color: #1e2b29;
}

.uwm_header {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ee9ba7;
    padding: 20px;
}

.uwm_main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #d4acb2;
    padding: 20px;
}

.uwm_footer {
    max-width: 1000px;
    margin: 0 auto;
    color: black;
    background-color: #e4c9cd;
    padding: 20px;
}
