body {
    margin: 0;
    font-family: Garamond, serif;
}

body.resume {
    background-color: #ECE0DA;
}

.resume_header, .resume_main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
}

.resume_section {
    background-color: #F1C8CB;
    margin-bottom: 20px;
    padding: 10px;
}

body.uwm {
    background-color: #9fc4b9;
}

.uwm_header {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #F6B0BB;
    padding: 20px;
}

.uwm_main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #F1C8CB;
    padding: 20px;
}

.uwm_footer {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #416157;
    padding: 20px;
}
